= form_for post, :url => url do |f|
	%p
		= f.label :title
		%br
		= f.text_field :title 
	%p
		= f.label :body
		%br
		= f.text_area :body
	.search-tag
		.tag-editor
			%span.posted-tags
			= text_field_tag :q, nil, :autocomplete => 'off', :id => 'search_tags'
		.tag-suggestions
	//%p
	//	= text_field_tag "tags[]", Tag.first.id
	%p
		= f.submit
