= form_for post, :url => url do |f|

	-#- if params[:action] == 'edit'
	-#	- @question_tags.each do |t|
	-#		= text_field_tag 'tags[]', t.tag_id, :type => 'hidden'

	%p
		= f.label :title
		%br
		= f.text_field :title 
	%p
		= f.label :body
		%br
		= f.text_area :body
	.search-tag
		.tag-editor
			%span.posted-tags
				- if params[:action] == 'edit'
					- @question_tags.each do |t|

						%span{:class => 'post-tag', :id => t.tag_id}
							= Tag.find(t.tag_id).name
							%span{:class => 'delete-tag'}

			= text_field_tag :q, nil, :autocomplete => 'off', :id => 'search_tags'
		.tag-suggestions
	%p
		= f.submit
