.question-summary
	.statscontainer
		.statsarrow
		.votes
			.mini-counts
				345
			.div votes
		.answers
			.mini-counts
				35
			.div answers
		.views
			.mini-counts
				= post.view
			.div views
	.summary
		%h3
			= link_to post.title, post			
		.excerpt
			= post.body
		.user-info
			.user-action-time
				Action time
			.user-avatar
				%img{ :src => '/images/asd.jpg'}
			.user-details
				User id: 
				= post.user_id
			.destroy-btn
				= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }	
			.edit-btn
				= link_to 'Edit', edit_post_path(post)		