%tr
	%td
		= post.user_id
	%td 
		= post.id
	%td
		= link_to post.title, post
	%td 
		= post.body
	%td 
		= post.tagslist
	%td	
		= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }