<ul class="breadcrumb">
	<li>
		<%= link_to 'Main', root_path %>
		<span class="divider">|</span>
	</li>
	<li>
		<%= link_to 'Posts', posts_path %>
		<span class="divider">|</span>
	</li>
	<li>
		<%= link_to 'New', new_post_path %>
		<span class="divider">|</span>
	</li>
</ul>

<div class="new-question-form" id="new-question-form">

<legend>Edit question :</legend>

	<%= form_for :post, :url => { :action => :update } do |f| %>
	  <p>
	    <%= f.label :title %><br>
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.label :body %><br>
	    <%= f.text_area :body %>
	  </p>
	  <p>
	    <%= f.label :tagslist %><br>
	    
	    <input id="post_tagslist" type="text" name="post[tagslist]" class="ui-autocomplete-input" autocomplete="off">
	    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
	  </p>	  
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>

	<%= link_to 'Back', root_path, :class => "btn btn-primary" %>
 
</div>