%h2 
	All Questions
.page-description
	%p
		A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.

%ul{ :class => "breadcrumb" }
	%li 
		%a 
			= link_to 'Main', root_path
			%span{ :class => "divider"} 
				|

%h3 All questions
%table{ :class => "table table-striped table-bordered table-hover" }
	%tr
		%th
			author ID
		%th
			post ID
		%th
			Title
		%th
			Body
		%th		
	= render @posts

- if user_signed_in? 
	%h3 You questions
	%table{ :class => "table table-striped table-bordered table-hover" }
		%tr
			%th
				author ID
			%th
				post ID
			%th
				Title
			%th
				Body
			%th		
		= render @user_posts

= link_to 'Create new Question', new_post_path, :class => 'btn btn-primary'	
= link_to 'Create new Tag', new_tag_path, :class => 'btn btn-primary'	

