%ul{ :class => "breadcrumb" }
	%li 
		%a 
			= link_to 'Main', root_path
			%span{ :class => "divider"} 
				|

.subheader
	%h1
		All Questions
	#tabs	
		= link_to 'all questions', posts_path(:tab => "all"), :class => "youarehere", :id => "tab-all"
		- if user_signed_in? 
			= link_to 'my questions', posts_path(:tab => "my"), :id => "tab-my"
		= link_to 'frequent', posts_path(:tab => "fre"), :id => "tab-fre"
		= link_to 'today', posts_path(:tab => "today"), :id => "tab-today"
		= link_to 'week', posts_path(:tab => "week"), :id => "tab-week"
		= link_to 'month', posts_path(:tab => "month"), :id => "tab-month"

#questions
	= render @posts		
	
= link_to 'Create new Tag', new_tag_path, :class => 'btn btn-primary'	
