%ul{ :class => "breadcrumb" }
	%li 
		%a 
			= link_to 'Main', root_path
			%span{ :class => "divider"} 
				|
	%li 
		%a 
			= link_to 'Posts', posts_path
			%span{ :class => "divider"} 
				|
	%li			
		%a 
			= @post.id 
			%span{ :class => "divider"} 				


.subheader
	%h1
		= @post.title	
%p
	= @post.body

.author-q-block
	.user-action-time
		%span{ :title => @post.created_at.strftime("%B %d'%y at %H:%M")} 
			asked
			= @post.created_at.strftime("%B %d'%y at %H:%M")

